@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');

 
:root {
    --primary-color: #7267CB;
    --secondary-color: white;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

 
.nav-bar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    padding: 2rem;
    text-align: center;

}

 
.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    color: var(--secondary-color);
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin: auto;
    padding: 1rem;
       
}

 
textarea {
    background-color: ;
    border: 1px solid black;
    display: block;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    height: 50%;
    margin: 5rem auto;
    width: 50%;
}

.footer {
    color: var(--secondary-color);
    text-align: center;
        padding: 1rem;
        background-color: var(--primary-color);
    }  
     
    .footer .footer-header {
    font-weight: bold;
    }
     
    .footer .footer-details {
        padding-top: 10px;
        width: 50%;
      margin: auto;
    }
    

